@import "variables";

.vh-25
{
    height: 25vh !important;
}

.vh-40
{
    height: 40vh !important;
}

.vh-50
{
    height: 50vh !important;
}

.em-6
{
    height: 6em !important;
}

.em-4-5
{
    height: 4.5em !important;
}

.main-white-text
{
    color: $main-white;
}

.main-dark-purple-bgd
{
    background-color: $main-dark-purple;
}

.outline-none
{
    outline: none !important;
}
