// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: gray;

$main-dark-purple: #232023;
$main-light-purple: #b6868e;
$main-light-purple-l: #c6969e;
$main-light-purple-l-transparent: rgba(198, 150, 158, 0.5);
$main-light-purple-l-transparent-01: rgba(198, 150, 158, 0.1);
$main-light-purple-d: #986c73;
$main-white: white;
$main-dark: #383732;
$main-orange: #EE7469;

$gray-transparent-01: rgba(147, 147, 147, 0.1);
