// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import "classes";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

*
{
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body
{
    background-color: $main-white;
}

.btn-primary
{
    color: #fff;
    background-color: $main-light-purple;
    border-color: $main-light-purple;

    &:hover {
        color: #fff;
        background-color: $main-light-purple-d;
        border-color: $main-light-purple-l;
    }

    &:focus,
    .focus
    {
        color: #fff;
        background-color: $main-light-purple-d;
        border-color: $main-light-purple-l;
        box-shadow: 0 0 0 0.2rem $main-light-purple-l-transparent;
    }

    .disabled,
    &:disabled
    {
        color: #fff;
        background-color: $main-light-purple-l-transparent;
        border-color: $main-light-purple-l;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active
    {
        color: #fff;
        background-color: $main-light-purple-d;
        border-color: $main-light-purple-l;
    }

    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus
    {
        box-shadow: 0 0 0 0.2rem $main-light-purple-l-transparent;
    }
}

.show > .btn-primary.dropdown-toggle
{
    color: #fff;
    background-color: $main-light-purple-d;
    border-color: $main-light-purple-l;
}

.show > .btn-primary.dropdown-toggle:focus
{
    box-shadow: 0 0 0 0.2rem $main-light-purple-l-transparent;
}

.btn-link
{
    font-weight: 400;
    color: $main-light-purple;
    text-decoration: none;

    :hover
    {
        color: $main-light-purple-d;
        text-decoration: underline;
    }
}

.form-control
{
    &:focus
    {
        color: #495057;
        background-color: #fff;
        border-color: $main-light-purple-l;
        outline: 0;
        box-shadow: 0 0 0 0.2rem $main-light-purple-l-transparent;
    }
}

.carousel-center-item
{
    position: relative;
    height: 300px;

    img
    {
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        height: auto;
        max-height: 100%;
        max-width: 100%;
    }
}

.dropdown-item
{
    .active, &:active
    {
        color: #fff;
        text-decoration: none;
        background-color: $main-light-purple-d;;
    }
}

a
{
    color: $main-light-purple;

    &:hover
    {
        color: $main-light-purple-d;
    }
}
